main {
    background-color: #f5efe3;
}

/* SECTION 1 - CABECERA DE LA RECETA  */

.section1 {
    display: flex;
    padding: 20px;

}

.arroz-img {
    display: flex;
    width: 439px;
    border-radius: 9px;
}

.fig-capt {
    color: #092A0F;
    display: flex;
    justify-content: center;
    margin-top: 3px;
    font-size: 12px;
    font-style: italic;

}

.right1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  margin-left: 200px; 
    color: #5d032a;
}

h1 {
    font-size: 52px;
    font-weight: bold;
    line-height: 1;
}

.author {
    display: flex;
    font-size: 12px;
    margin-bottom: auto;
}

.stars {
 width: 150px;

}
.sub-h1 {
    font-size: 18px;    
    margin-bottom: auto; 
    text-align: center;

}

.sub-txt {
    display: inline-flex;
    font-size: 16px;
}

.flecha {
    display: flex;
    align-items: center;
    padding: 20px;
}

.flecha i {
    padding-right: 15px;
}


.imprimir {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.imprimir i {
    padding-right: 15px;
}


/* SECTION 2: DESCRIPCION RECETA */

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;

}

.section2,
.section3 {
    margin: 50px 20px 50px 20px;
    line-height: 25px;
    color: #5d032a;
}

.description {
    margin-bottom: 10px;
    font-weight: 400;

}

.ingredientes {
    background-color: #FFD8F5;
    color: #ad215b;
    width: 750px;
    list-style: circle;

    padding: 20px 20px 20px 30px;
    border-radius: 9px;

}

.ingredientes li {
    background-color: #FFD8F5;
    list-style: inside;
}


/* SECCION 3 [INGREDIENTES & PASO A PASO ] + [ASIDE] */

#section3 {
    display: flex;
    gap: 150px;
    width: 750px;
    
}

.section-ingr {
    margin-bottom: 50px;
    padding-left: 20px;
}

/* SECCION PASO A PASO  */

.section-steps {
    line-height: 25px;
    color: #5d032a;
    margin-bottom: 50px;
    padding-left: 20px;
}

.steps-txt {
    margin-bottom: 20px;
}

ol {
    margin: 20px;
}

li {
    margin-bottom: 14px;
    line-height: 25px;
}

/* SECCIÓN FORM */

.comment-form {
    margin-bottom: 50px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}

.comment-form textarea {
    width: 700px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #5d032a;
    color: #092A0F;
    font-family: poppins;
    resize: none;
}

.comment-form textarea::placeholder {
    color: #6d8470;
    font-style: italic;
}

#boton-re {
    padding: 10px 20px;
    background-color: #5d032a;
    color: #fff;
    border-radius: 20px;
    font-family: poppins;
    font-weight: 400;
}

.comment-form #boton-re:hover {
    background-color: #200310;
}

/* SECCION COMENTARIOS  */

.calificaciones {
    padding-left: 20px;
    margin-bottom: 50px;
    color:#5d032a;
}
h4 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.img-users {
    width: 60px;
    border-radius: 100%;
    margin-right: 12px;
}
/* Comentario 1 */
.comment-1 {
    display: flex;
   
    margin-bottom: 35px;
}

.comment-1 p {
    align-self: center;
}
/* Comentario 2 */
.comment-2 {
    display: flex;
    margin-bottom: 35px;
}

.comment-2 p {
    align-self: center;
}
/* Comentario 3 */
.comment-3 {
    display: flex;
}

.comment-3 p {
    align-self: center;
}


/* -> ASIDE */

h3 {
    color: #092A0F;
    font-size: 20px;
    line-height: 1;
    margin-top: 10px;
}

.nevera-txt {
    color: #092A0F;
    font-size: small;
    margin-bottom: 20px;
}

.nevera {
    width: 263px;
    height: 263;
}

.as-1 {
    display: block;
    justify-items: center;
    margin-bottom: 60px;
}

.as-2 {
    display: block;
    justify-items: center;
    margin-bottom: 20px;

}

.h3-otras {
    margin-bottom: 20px;
}

.otras-recetas {
    width: 263px;
    height: 263;
}

.otras-txt {
    color: #092A0F;
    font-size: small;
    margin-bottom: 20px;
}